<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
    <title>Manage properties</title>
    <style media="screen">
      table, th, td { border: 1px solid black; }
      table { width: 33%; }
    </style>
  </head>

<body>

<div class="navigation">
  <form action="/user/<%= @user.id %>" method="get">
    <button type="submit" name="homepage">Return to Homepage</button>
  </form>
  <form action="/user/<%= @user.id %>/browse" method="get">
    <button type="submit" name="browse">Browse Available Properties</button>
  </form>
</div>


<form action="/user/<%= @user.id %>/listings/new" method="post">
  <input type="text" name="name" placeholder="name"/><br>
  <input type="number" name="pricepn" placeholder="nightly rate"/><br>
  <input type="text" name="address" placeholder="address"/><br>
  <input type="number" name="capacity" placeholder="capacity"><br>
  <input type="text" name="description" placeholder="description" id="description"/><br>
  <input type="submit" name="submit" value="Add Property"/><br>
</form>

<h1><%= @user.firstname%>'s properties:</h1>
<div>
        <% @properties.each do |property| %>
  <table>
    <tr>
      <th colspan="2">Name: <%= property.name %></th>
      </tr>
    <tr>
      <td colspan="2">Address: <%= property.address %></td>
    </tr>
    <tr>
      <td>Capacity: <%= property.capacity %></td> <td>Nightly Rate: <%= property.pricepn %></td>
    </tr>
    <tr>
      <td colspan="2">Description: <%= property.description %></td>
    </tr>
  </table>
  <br>
  <br>
          <% end %>
</div>
</body>
